/* variables */
$base-color: #D4E0F7;
$top-color: #005197;
$menu-color: #004875;
$selected-menu-color: #353535;

/* mixins */

@mixin list-menu-item {
  display: block;
  float:left;
}

@mixin list-menu-content{
  display: block;
  padding: 10px 10px 0px 10px;
}

@mixin list-menu-link{
  @include list-menu-content;
  padding: 10px;
  text-decoration: none;
}

@mixin clear-element{
  float:none;
  clear:both;
}

/* general purpose */

body{
  background-color: $base-color;
  font-family: Helvetica Neue;
  font-size: 14px;
}

a{
  text-decoration: none;
  img{
   border: 0px; 
  }
}

h3{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  a{
    color: black;
  }
}

h2{
  color: #5483B2;
  font-family: Times;
  font-weight: normal;
}

#top{
  #title{
    height: 100px;
    width: 100%;
    background-color: $top-color;
    background: -webkit-gradient(linear, left top, right bottom, from(#659CCB), to($top-color));
    background: -moz-linear-gradient(left,  #659CCB,  $top-color);
    h1{
      margin: 0px;
      padding: 20px;
      color: white;
      font-weight: normal;
    }
  }
  ul#navigation{
    margin: 2px 0px 0px 0px;
    /*background-color: $menu-color;*/
    padding: 0px;
    height: 40px;
    li{
      text-align: center;
      width: 90px;
      @include list-menu-item;
      color: white;
      background-color: $menu-color;
      margin-right: 2px;
      
      a{
        height: 18px;
        color: white;
        @include list-menu-link;
      }
    }
    li#profile_link{
      float:right;
      background-color: $selected-menu-color;
      margin-right: 0px;
    }
    li#search_box{
      text-align: right;
      width: 484px;
      float:right;
      @include list-menu-content;
      height: 28px;
    }
    li.clear{
      @include clear-element;
    }
    li.selected{
      background-color: $selected-menu-color;
      padding-bottom:2px;
      border-bottom: 0px;
    }
  }
  ul#sub_navigation{
    margin: 0px;
    padding: 0px;
    background-color: $selected-menu-color;
    width:100%;
    li{
      @include list-menu-item;
      a{
        color: #aaa;
        @include list-menu-link;
      }
    }
    li.selected{
      a{
        color: white;
      }
    }
    li.clear{
      @include clear-element;
    }
  }
}

.clear{
  @include clear-element;
}

.left{
  float: left;
}

.right{
  float: right;
}

#content{
  background-color: white;
  margin: auto;
  box-shadow: 5px 5px 10px #555;
  -webkit-box-shadow: 5px 5px 10px #555;
  width: 780px;
  padding:10px;
}

/* Proposal list */

ul#proposals{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  li.proposal{
    background-color: #E6F9E9;
    margin: 10px 0px;
    .proposal_content{
      padding: 10px ;
      .thumbnail{
        margin-right: 10px;
      }
      .description{
        width: 400px;
      }
      .stats{
        text-align: center;
        border-left: 1px solid lightgray;
        height: 102px;
        width: 150px;
        padding: 0px 10px;
        display: block
      }
    }
    .proposal_meta{
      background-color: lightgray;
      padding: 5px ;
    }
  }
}
