<h2>Proposal overview</h2>
<ul>
  <% @proposals.each do |proposal| %>
    <li><%= link_to proposal.title, proposal_path(proposal) %></li>
  <% end %>
</ul>
<%= link_to "Create new proposal", new_proposal_path %>